  <h1>BITLY con USERS</h1>
  <p>Este es el indice</p>
    <br>
      <!--mostrar sesion de despedidad en caso de no ser nil-->
      
    <br>
    <form class="" action="/sign" method="get" name="formulario">
      <input type="submit"  value="SIGN IN">
    </form>
    <br>
    <form class="" action="/log" method="get">
      <input type="submit"  value="LOG IN">
    </form>
    <!--mostrar vista con url-->
    <%=erb :bitly%>
